ul.product-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  width: 1200px;
  .product {
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    display: inline-block;
    //max-width: 300px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    img {
      max-width: 260px;
    }
    h3 {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
  }
}
.product-desc {
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .product-attributes {
    padding-left: 10px;
    select {
      padding: 10px;
      background-color: white;
      border-radius: 4px;
      border: 2px solid #294766;
    }
    select, input {
      margin-bottom: 20px;
    }
  }
}
table#priceTable {
  border-spacing: 20px;
  border-collapse: separate;
  border: 1px solid $dark-red;
  tr {
    border-bottom: 1px solid $dark-red;
    text-align: center;
  }
}