$dark-red: #294766;
$light-red: #294766 *0.4;
$extreme-red: #223951;
$border-red: #223951;
$white: #FFFFFF;
$gray: #898989;


$phone: "screen and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

